
.tickets-info-boxes{
    display: flex;
    padding: 5px;
    color: #4D5B6B;
    width: 100%;
    height: 150px;
    /* border: black solid; */
    font-family: inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    background-color: #F7EDE3;
}
/* calender start */
.calender-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    /* border:black solid; */
    gap: 1rem;
}
@media(max-width:1100px){
    .calender-container{
        display: block;
    }
}
    
.calender-wrapper{
    max-width: 380px;
    height: auto;
    background:#F2BB6C;
    display: flex;
    flex-direction: column;
    /* margin-right:auto; */
    /* border: black solid 1px; */
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);   
}


.date{
    width: 380px;
    padding: 25px;
}

.days{
    display: flex;
    flex-wrap: wrap;
}
.number.active{
    background-color: rgb(73, 73, 247);
}
.day,
.number,
.number-pre
{
    font-size: 18px;
    color: white;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.number:hover,
.number-pre:hover{
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.4);
}
.number-pre{
    color: rgba(0, 0, 0, 0.4);
}
/*  */
/*  */
.tickets-box-container2{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: auto;
    /* border: black solid; */
    gap: 1rem;
    color: #4D5B6B;
    font-family: bagel,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.tickets-info-boxes2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: bagel, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4D5B6B;
    width: 100%;
    height: auto;
    /* border: black solid; */
    border-radius: 10px;
    background-color: #F7EDE3;
}
.tickets-info-boxes2:hover{
    background-color: #c8b19b;
    cursor: pointer;
}
.tickets-info-boxes3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: bagel, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4D5B6B;
    width: 100%;
    height: auto;
    /* border: black solid; */
    border-radius: 10px;
    background-color: #F7EDE3;
}
.tickets-info-boxes3:hover{
    background-color: #c8b19b;
    cursor: pointer;
}
.tickets-info-boxes4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: bagel, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4D5B6B;
    width: 100%;
    height: auto;
    /* border: black solid; */
    border-radius: 10px;
    background-color: #F7EDE3;
}
.tickets-info-boxes4:hover{
    background-color: #c8b19b;
    cursor: pointer;
}
.box-title3{
    font-weight: bold;
    font-size: larger;
}
.box-title5,
.box-title4{
    font-family: inter;
    font-size: 14px;

}
.calender-h1{
    margin: 0 35px 5px;
    font-weight: lighter;
    font-family: bagel, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.calender-h3{
    font-family: bagel;
    color: #4D5B6B;
    font-weight: 50;
    margin: 0 35px 5px;
    /* margin: 0 15px 30px; */

}

.ticekts-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f7ede386;
    justify-content: flex-start;
    text-align: center;
    max-width: 400px;
    height: auto;
    padding: 1rem;
    border-radius: 20px;
    /* margin-left: auto; */
}


.tickets-h1{
    font-family: bagel, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.tickets-h2{
    font-family: inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tickets-btns{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: black solid;
}
